@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
    <html>
    <head>
        <title>Library Management</title>
    </head>
    <body>
        <h1>Dashboard</h1>
       
        <p>Welcome @User.Identity!.Name!</p>
        
        
    </body>
    </html>